#m{color: dodgerblue; text-align: center; border-style: ridge;}
img{border: 1px solid black; border-radius: 2px; position: absolute; top: 10%; left: 1260px;}
video{width: 400px; height: 300px;}
caption{background-color: orange;}
#parrafo1{width: 200px; }